footer.py-5.mt-5
  .container
    .row
      .col-md-4.mb-4.mb-md-0
        h5 Khách sạn 3TL
        p.mb-1
          i.bi.bi-geo-alt-fill.me-2
          | Địa chỉ: 123 Đường ABC, Quận XYZ, TP. HCM
        p.mb-1
          i.bi.bi-telephone-fill.me-2
          | Điện thoại: (028) 1234 5678
        p.mb-1
          i.bi.bi-envelope-fill.me-2
          | Email: info@khachsan3tl.com
      
      .col-md-4.mb-4.mb-md-0
        h5 Liên kết
        ul.list-unstyled
          li.mb-2
            a(href="/")
              i.bi.bi-house-door.me-2
              | Trang chủ
          li.mb-2
            a(href="/rooms")
              i.bi.bi-door-open.me-2
              | Phòng
          li.mb-2
            a(href="/services")
              i.bi.bi-stars.me-2
              | Dịch vụ
          li.mb-2
            a(href="/about")
              i.bi.bi-info-circle.me-2
              | Giới thiệu
      
      .col-md-4
        h5 Theo dõi chúng tôi
        .social-icons.d-flex.mb-3
          a(href="#", aria-label="Facebook")
            i.bi.bi-facebook
          a(href="#", aria-label="Twitter")
            i.bi.bi-twitter
          a(href="#", aria-label="Instagram")
            i.bi.bi-instagram
          a(href="#", aria-label="YouTube")
            i.bi.bi-youtube
        
        p.mb-0
          i.bi.bi-bell.me-2
          | Đăng ký nhận thông tin ưu đãi mới nhất
        .input-group.mt-2
          input.form-control(type="email", placeholder="Email của bạn")
          button.btn.btn-gold.px-3(type="button")
            i.bi.bi-send-fill.me-1
            | Đăng ký
    
    hr.my-4
    
    .text-center.copyright
      p.mb-0
        i.bi.bi-c-circle.me-1
        | 2023 Khách sạn 3TL. All rights reserved.